# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.pyc
out
gen
data/training_data.csv
data/training_data.pickle
data/training_labels.csv